{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <div class="mb-3">
            <table class ="table table-striped">
                <thead>


                        <th>Symbol</th>
                        <th>Type</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Time</th>

                </thead>

                <tbody>
                {%for transaction in transactions %}
                    <tr>
                        <td>{{transaction["symbol"]}}</td>
                        <td>{{transaction["type"]}}</td>
                        <td>{{transaction["shares"]}}</td>
                        <td>{{transaction["price"] | usd }}</td>
                        <td>{{transaction["time"]   }}</td>
                    <tr>
                {%endfor%}


                </tbody>

            </table>
        </div>
{% endblock %}